.p {
    color: #FF0011;
    background-color: #d3cbff;
}

.h1 {
    color: #0000FF;
    background-color: #5a0000;
}

.h2 {
    color: #00ff0d;
    background-color: #500000;
}

.h3 {
    color: #ff00f0;
    background-color: #120035;
}

.li {
    color: #48009b;
    background-color: #ffd0d0;
}

a {
  color: red;
}

a:hover {
  color: yellow;
} 

a:visited {
  color: green;
}

.span {
  color: red;
  background-color: #ffd0d0;
}

#standards {
  color: #bbf1ff;
  background-color: #3b0000;
}